@import "variables.scss";
@import "login.scss";
@import "modal.scss";
@import "https://fonts.googleapis.com/css?family=Poppins";

html {
    background-color: $Main;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
